/*
Theme Name: CVitae
Theme URI: eddmash.com/cvitae
Author: Eddilbert Macharia
Author URI: http://eddmash.com
Description: A theme to show resume/portfolio
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: right-sidebar, responsive-layout, custom-header, custom-menu, editor-style, featured-images, post-formats, sticky-post, translation-ready
Text Domain: cvitae

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

html, body{
    height: 100%;
    /*background-color: #f1f1f1;*/
}

/* the body */
body{
    color: #ecf0f1;
    background: #34495e;
    font-size: medium;
}

a{
    color: #82C5FF;
}

a:hover{
    color: #1abc9c;
}

/* --------------- INTRODUCTION ------------------- */
.intro{
    padding:1rem ;
    margin: auto;
}
#owner_description{
    margin: 1rem;
}
.intro #owner_name {
    font-size: 5rem;
    padding:1rem ;
    margin: auto;
}

.intro #greeting_message{
    font-size: 5rem;
    font-weight: 400;
    padding:1rem ;
    margin: auto;
}

.intro #headshot{
    padding:1rem ;
    margin: auto;
}

.intro #headshot .headshot_img{
    width: 25rem;
    height: 25rem;
    border: .3rem solid #1abc9c;
    border-radius: 15rem;
    display: inline-block;
}
.intro #headshot .headshot_img:hover{
    border-color: #e67e22;
}
.gallery-caption{}
/* -------------------  NAVIGATION ------------------ */
.main_menu{
    background-color: #34495e;
    border-color: #34495e;
    margin-bottom: 0px;
    text-align: center;
}
.main_menu #menu_items{
    display: inline-block;
}
.main_menu .navbar-brand,
.main_menu .navbar-brand:hover{
    color: #FFFFFF;
}

.main_menu #menu_items>li{
    margin-bottom: 2px;
    width: 10em;
    line-height: 2em;
}
.main_menu #menu_items>li>a{
    color: #FFFFFF;
    background-color: #e67e22;
    border-radius: 0rem;
    padding: 8px;
    text-align: center;
}
.main_menu #menu_items>li>a:hover{
    background-color: #1abc9c;
}

.main_menu #menu_items li:hover>ul.sub-menu{
    display: block;
}
/* submenu */
.main_menu #menu_items li ul.sub-menu{
    background-color: #34495e;
    display: none;
    list-style: none;
    position: absolute;
    z-index: 1000;
    margin: 8px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    width: 100%;
    border: thin solid #e67e22;
}
.main_menu #menu_items>li>ul.sub-menu:nth-child(2){
    margin-top: 0px;
}
.main_menu #menu_items ul.sub-menu li{
    background-color: #e67e22;
    line-height: 2em;
    margin-top: 2px;
    padding: 8px;
}
.main_menu #menu_items li>ul.sub-menu li a{
    color: #FFFFFF;
    padding: 8px;
    text-decoration: none;
}
.main_menu #menu_items ul.sub-menu>li:hover{
    background-color: #1abc9c;
}

.main_menu .navbar-toggle{
    border-color: #e67e22;
}
.main_menu .navbar-toggle:hover,
.main_menu .navbar-toggle:focus{
    background-color: #dddddd;
}

.main_menu .navbar-toggle .icon-bar{
    background-color: #e67e22;
}
/*----------- older naviation -----*/
.front_page_menu{
    text-align: center;
    margin: 0 auto;
}

.front_page_menu ul{
    display: inline-block;
}

.front_page_menu ul li{
    margin: .5rem;
    background-color: #e67e22;
}

.front_page_menu ul li a{
    color: #FFFFFF;
    border-radius: 0px;
}

.front_page_menu ul li a:hover{
    background-color: #1abc9c;
}

.front_page_menu .sub-menu{
    display: none;
}
.sidebar{
    border: 1px solid #1abc9c;
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 1rem;
    margin-bottom: 1rem;
}

/* ------------------- SOCIAL MEDIA ------------*/
.credits_social_media{
    text-align: center;
}
ul.social_media{
    list-style: none;
    margin: 0px;
    clear: both;
    text-align: center;
    display: inline-block;
}

ul.social_media li{
    float: left;
    padding: 1rem;
    display: inline;
}

ul.social_media li a:hover{
    background-color: #34495e;
    color: #1abc9c;
    text-decoration: none;
}

/*----------------- WIDGET ------------------*/
.widget{
    border-bottom: thin dashed #e67e22;
    padding: 10px 0px 10px 0px;
}

.widget:last-child{
    border-bottom: none;
}

.widget ul{
    padding: 0px 0px 0px 15px;
    list-style-type: square;
}

.widget li:hover>ul{
    display: block;
}
.widget li>ul{
    display: none;
}
.sidebar:after{
    content: " ";
    display: table;
}
.sidebar form.search-form {
    position: relative;
}
.sidebar form.search-form input:focus {
    position: absolute;
    right: 2px;
    width: 20em;
}

/* ---------------- main content -------------- */
.content{
    color: #000000;
    padding: 2em;
}

.single_post{
    border: 1px solid #1abc9c;
    /*background-color: #FFFFFF;*/
    /*color: #000000;*/
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin: 1rem;
    margin-bottom: 1rem;
}
.post_meta_data{
    padding-left: 1rem;
    border-bottom:.1rem dashed #e67e22;
}
.bypostauthor{}

.single_post_title{
    font-weight: 800;
    border-bottom: #FFFFFF;
}
.single_post_title h2 a{
    text-decoration: none;
    color: #FFFFFF;
}

a.read-more:hover{
    color: #1abc9c;
    text-decoration: none;
}

.single_post_title h2 a:hover{
    color: #1abc9c;
}

ul.post_meta{
    padding: 0rem;
}

.post_meta li{
    float: left;
    list-style: none;
    padding: .1rem 1rem .1rem 0rem;
}
.tags_categories{
    border-top:.1rem dashed #e67e22;

}

.single_post_content,
.single_post_excerpt{
    min-height: 2rem;
}

.post_tags,
.post_categories{
    word-wrap: break-word;
}

.pager li>a,
.pager li>span{
    background-color: #34495e ;
    color: #e67e22;
    border: none;
    border-radius: 0px;

}

.pager li>a:focus,
.pager li>a:hover{
    background-color: #34495e ;
    color: #1abc9c;
    border: none;
    border-radius: 0px;
}
.sticky{
    background-color: rgba(231, 76, 60, 0.64);
}
.sticky .post_meta_data{
    border-bottom: .1rem dashed #9b59b6;
}

/* ------------- MISCELLANEOUS ------------------- */
.full-height{
    height: 100%;
}

.fg_orange{
    color: #e67e22 ;
}

.fg_teal{
    color: #1abc9c ;
}

#home{
    background-color: #006505;

}
#skills{
    background-color: #005082;
}
#contact{
    background-color: #22cffb;
}


/* header */
#header{
    background-color: #6a949f;
}

/* Footer */
#footer{
    /*position: absolute;*/
    bottom: 0px;
    color: #FFFFFF;
}

/* --------------- IMAGES --------- */

img{
    max-width: 100%;
    border: thin solid #cccccc;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    max-width: 100%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    color: #000000;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    border-bottom: none;
}
figcaption.wp-caption-text {
    border: thin solid #cccccc;
    border-top: none;
    background-color: #cccccc;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;

}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* organize series custom css*/


.series_nav {
    background-color: #075F4D;
    text-align: center;
}
.series_nav h5 {
    font-style: italic;
    font-weight: 800;
}
.seriesmeta{
    background-color: #075F4D;
    border: none;
    margin-top: 1rem;
    border-radius: 0px;
    color: #FFFFFF;
    box-shadow: none;
}